header
{
  display: block;
  width: 1078px;
  color: #ffffff;
  background-color:#444444;
  position:relative;
}
footer
{
display: block;
width: 1078px;
color: #ffffff;
background-color:#2f3f3f;
position:left;
}
nav
{
display: block;
width: 1078px;
color: #ffffff;
background-color:#666666;
position:left;
}
main
{
display: block;
width: 1078px;
color: #ffffff;
background-color:#777777;
overflow:hidden;
}
body {
 color: #ffffff;
 background-color:#888888;
 margin: 0px;
text-align: center;
}
div {width: 1078px; height: 100px;}
main {width: 1078px; height: auto;}
#col-left {
background-color:#999999;
width: 200px;
height: 200px;
}
#col-center {
  width: 300px;
  height: 300px;
height: auto;
}
#col-left {
background-color:#000000;
width: 200px;
 height: 200px;
float: left;
}
footer {
background-color:#545454;
width: 200px;
height: 200px;
clear: both;
}

#container {
 position: relative;
margin: auto;
 width: 1078px;
 height: auto;
 overflow: hidden;
border: 1px solid #ffffff;
}
#logo {
 position: absolute;
 width: 200px;
 height: 40px;
 border: 2px dotted #731980;
 position: absolute;
  top:10px;
   left:10px;
}
